<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
        <input type="text" name="" id="user">
        <button onclick="user()">Send</button>

    <script>
        function user() {
            const Http = new XMLHttpRequest();
            let text = document.getElementById("user").text;
            const url='eldablo81.pythonanywhere.com/user<' + text + '>';
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = (e) => {
            console.log(Http.responseText)
            }
        }
    </script>
</body>
</html>