<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
        <input type="text" name="" id="user">
        <button onclick="user()">Send</button>

    <script>
        function user() {
            var inputElement = document.getElementById("user");
            var inputValue = inputElement.value;
            window.location.href = "http://127.0.0.1:5000/user<" + inputValue + ">"
        }
    </script>
</body>
</html>